header {
	background-color: rgb(223, 236, 236);
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	width: 100%;
    background-color: rgb(141, 52, 89);
    padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.hero-image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

main {
  display: flex;
  flex-direction: row;
}
.texto {
  width: 50%;
  padding: 0 20px;
}
.texto h2{
  font-size: 38px;
  color:rgb(141, 52, 89) ;
  font-family: arial;
}

.texto p{
  font-size: 24px;
  font-family: arial;
}
.colunas {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.coluna {
  width: 33.33%;
  padding: 0 20px;
}
.coluna img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
    
  footer {
        background-color: rgb(141, 52, 89);
        padding: 20px;
        width: 100%;
        border: none;  
        color: aliceblue; 
  }

  .botao-container {
    text-align: center;
    margin-top: 20px;
  }
  .botao {
    background-color: rgb(141, 52, 89);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

